@import './modules/variables';

.base-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(106, 112, 76, 0.5);

    cursor: pointer;
    min-height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    cursor: pointer;

    &::before {
        content: "\2713";
        position: relative;
        top: 5px;
        left: 4px;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #4a3163;
        font-weight: bold;
        opacity: 0;
    }

    &:checked::before {
        opacity: 1;
    }
}

section.user-registration,
section.user-login {
    display: block;
    position: absolute;
    top: 51%;
    left: 2%;

    z-index: 1200;
    width: 90%;
    margin: auto;
}

section.user-registration,
section.user-login,
section.thankYou-section {
    padding: 3%;
    .container-box {
        font-family: $primary-font-family;
        background: $nude-color;
        filter: drop-shadow(7px 4px 53px rgba(0, 0, 0, 0.1));
        width: 62%;
        margin: auto;
        padding: 7%;
        padding-top: 5%;
        text-align: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;

        .close-btn{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            svg{
                cursor: pointer;
            }
        }

        .content {
            h1 {
                color: $dark-green-color;
                text-align: center;
                
                font-size: 44px;
                font-weight: 700;
                line-height: 26%;
                text-transform: uppercase;
            }
            h5 {
                color: $dark-green-color;
                text-align: center;
                font-size: 19px;
                font-weight: 300;
                line-height: 0;
                text-transform: uppercase;
            }
            p {
                color: $dark-green-color;;
                text-align: center;
                font-size: 17px;
                font-weight: 300;
                line-height: 24px;
                width: 67%;
                margin: auto auto 33px auto;
            }
        }

        .form-container {
            form {
                display: flex;
                flex-direction: column;
                gap: 20px;

                input[type="text"],
                input[type="email"],
                input[type="password"] {
                   
                    border: 1px solid $matte-black;
                    background: #fff;
                    
                    font-size: 13px;
                        font-weight: 300;
                    /* line-height: 41px; */
                    padding: 2%;
                    outline: none;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 29px;

                    input[type="checkbox"] {
                        @extend .base-checkbox;
                    }

                    span {
                        text-align: left;

                        p:nth-child(1) {
                            color: $matte-black;
                           
                            font-size: 16px;
                            font-style: italic;
                            font-weight: 700;
                            line-height: 1px;
                        }
                        p:nth-child(2) {
                            color: $matte-black;
                           
                            font-size: 14px;
                            font-style: italic;
                            font-weight: 300;
                        }
                    }
                }

                .btns {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 29px;
                    flex-direction: column;
                    margin-top: 29px;
                    button {
                        width: 30%;
                        margin: auto;
                        background-color: $dark-green-color;
                    }

                    span {
                        color: $matte-black;
                        text-align: center;
                       
                        font-size: 15px;
                        font-style: italic;
                        font-weight: 400;
        
                        a {
                            color: $dark-green-color;
                           
                            font-size: 15px;
                            font-style: italic;
                            font-weight: 700;
                                        text-decoration-line: underline;
                        }
                    }

                    .sign-up-btn{
                        text-decoration-line: underline;
                        color: $dark-green-color;
                    }
                }

                .forgotpwd {
                    display: block;
                    text-align: right;

                    a {
                        color: $dark-green-color;
                        font-family: $primary-font-family;
                        font-size: 15px;
                        font-style: italic;
                        font-weight: 700;
                                text-decoration-line: underline;
                    }
                }
            }
        }

        .feedback {
            h5 {
                color: #6a704c;
                text-align: center;
               
                font-size: 35px;
                font-style: italic;
                font-weight: 250;
                line-height: 51.5px; /* 147.143% */
                text-transform: uppercase;
            }
            p {
                color: #6a704c;
                text-align: center;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}
